.spacer {
  flex: 1 1 auto;
}

.active {
  border-bottom: 2px solid #ffffff;
}

.mat-button {
  border-radius: 0 !important;
}

.header{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}