<div class="flex justify-content-between w-100 p-2 header justify-content-center align-items-center" *ngIf="product">

  <div class="flex align-items-center">
    <button mat-icon-button routerLink="/catalog/product">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>Product detail</span>
  </div>

  <div>
    <button mat-raised-button color="warn">Delete product</button>
  </div>
</div>

<div class="content m-3">
  <div class="flex align-items-center justify-content-between">
    <h4>General details</h4>
    <button mat-raised-button (click)="onClickEdit()">Edit</button>
  </div>
  <hr>

  <div class="general-details row">
    <div class="col-md-4 flex" *ngIf="product?.categoryId"> 
      <label>Category: </label>
      <div class="pl-2" *ngIf="category$">{{(category$ | async)?.name}}</div>
    </div>

    <div class="col-md-4 flex"> 
      <label>Name: </label>
      <div class="pl-2">{{product?.name}}</div>
    </div>

    <div class="col-md-4 flex"> 
      <label>Unit: </label>
      <div class="pl-2">{{product?.unit}}</div>
    </div>

    <div class="col-md-4 flex"> 
      <label>Price: </label>
      <div class="pl-2">{{product?.price}}</div>
    </div>

    <div class="col-md-4 flex"> 
      <label>Customizable: </label>
      <div class="pl-2">{{product?.customizable}}</div>
    </div>

    <div class="col-md-4 flex"> 
      <label>Weights: </label>
      <div class="pl-2">{{product?.weights}}</div>
    </div>

    <div class="col-md-4 flex"> 
      <label>Pieces: </label>
      <div class="pl-2">{{product?.pcs}}</div>
    </div>
</div>
