.category-layout {
  .header {
    background-color: #eceaea;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .category {
    padding: 15px 20px;
  }

  .content{
      min-height: 200px;
  }
}
