/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
}

.w-100 {
  width: 100%;
}

/* Flex */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-between {
  align-items: stretch;
}

.align-items-end {
  align-items: flex-end;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 2px;
}

.cdk-overlay-pane{
 max-width: none !important; 
}
